
@{ Layout =null; }


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Sudamerican Green</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
   
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="js-scroll-trigger" href="#page-top"><img src="~/img/Sudamerican Green_free-file.png" alt="Sudamerican Green" /></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ml-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Productos</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Nuestro equipo</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/LOGIN/INDEX">Ingreso</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="~/Video/video.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3">Sudamerican Green</h1>
                    <p class="lead mb-0">Auditorias Eléctricas y productos de Energías Renovables</p>
                </div>
            </div>
        </div>
    </header>

  
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Servicios</h2>
                <h3 class="section-subheading text-muted">Nuestros servicios</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-lightbulb fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3"> Auditorias Eléctricas</h4>
                    <p class="text-muted">Auditamos los equipos eléctricos en el domicilio del cliente, el cual podrá ver en nuestra página los resultados obtenidos  </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-toolbox fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Instalaciones</h4>
                    <p class="text-muted">Contamos con técnicos expertos en la instalación de productos de energías renovables  </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Consultoria</h4>
                    <p class="text-muted">Contamos con expertos en energías renovables para ayudarte en el ahorro de energía</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-tools fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Reparaciones</h4>
                    <p class="text-muted">Contamos con técnicos expertos para la reparación de equipos eléctricos y de energías renovables</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-chalkboard fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Sumulacion de Gasto</h4>
                    <p class="text-muted">Con esta herramienta gratuita podrás simular el gasto de energía y ver las recomendaciones para el ahorro de energía</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Showroom</h4>
                    <p class="text-muted">Podrás ver todos nuestros productos en instalaciones de prueba que hemos implementado</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Productos</h2>
                <h3 class="section-subheading text-muted">Nuestros kits de instalación de Energías Renovables </h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/img/kit 1.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Kit 1</div>
                            <div class="portfolio-caption-subheading text-muted">2000W</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/img/kit 2.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Kit 2</div>
                            <div class="portfolio-caption-subheading text-muted">3000W</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/img/kit 2.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Kit 3</div>
                            <div class="portfolio-caption-subheading text-muted">4000w</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/img/kit 1.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Kit4</div>
                            <div class="portfolio-caption-subheading text-muted">5000w</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/img/lmapara.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Lamparas</div>
                            <div class="portfolio-caption-subheading text-muted">Led</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/img/accesorios.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Accesorios</div>
                            <div class="portfolio-caption-subheading text-muted">Mejores marcas</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-->
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Acerca de nosotros</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/img/about1.jpg" alt="" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            
                            <h4 class="subheading">Misión</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Sudamerican Green está dedicada a suministrar un servicio de calidad a los consumidores, estableciendo cimientos con integridad y responsabilidad. Sudamerican Green debe ser un referente en el servicio de ahorro de energía en el conurbano, este propósito se logra a través del desarrollo de la personas tanto nuestro personal como nuestros clientes</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/img/about2.jpg" alt="" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                   
                            <h4 class="subheading">Visión</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Escuchar siempre  siempre a nuestro cliente para lograr ser un referente a nivel local en las soluciones de ahorro de energía</p></div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/img/about 3.jpg" alt="" /></div>
                    <div class="timeline-panel">
                        <div>
                            <h4 class="subheading">Nuestra Propuesta</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Ante el crecimiento de los costos de energía aumenta la necesidad del ahorro energético, para ello hay que te acompañaremos durante todo el proceso. El proceso le aporta un ahorro significativo en el gasto de energía recuperando lo invertido en el mediano plazo</p></div>
                    </div>
                </li>
               
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4>
                           Se parte
                            <br />
                            de nuestro
                            <br />
                            Cambio!
                        </h4>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Team-->
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Nuestro Equipo</h2>
                <h3 class="section-subheading text-muted">Conoce a nuestro Equipo</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/img/yo.jpg" alt="" />
                        <h4>Andres Benitez</h4>
                        <p class="text-muted">Alumno</p>
                        <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/andres__benitez"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/andres.queteimporta.9/"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/andres-benitez-b837a855/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/img/parkison.jpg" alt="" />
                        <h4>Ing. Christian Parkinson</h4>
                        <p class="text-muted">Profesor de tecnología</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/img/scali.jpg" alt="" />
                        <h4>Dr. Jorge Scali</h4>
                        <p class="text-muted">Profesor de negocio</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
    <!-- Clients-->
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid d-block mx-auto" src="assets/img/logos/envato.jpg" alt="" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid d-block mx-auto" src="assets/img/logos/designmodo.jpg" alt="" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid d-block mx-auto" src="assets/img/logos/themeforest.jpg" alt="" /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid d-block mx-auto" src="assets/img/logos/creative-market.jpg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Contactenos</h2>
                <h3 class="section-subheading text-muted">Te contestaremos en breve.</h3>
            </div>
            <form id="contactForm" name="sentMessage" novalidate="novalidate">
                <div class="row align-items-stretch mb-5">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" id="name" type="text" placeholder="Su Nombre *" required="required" data-validation-required-message="Ingrese su nombre" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="email" type="email" placeholder="Su Email *" required="required" data-validation-required-message="Ingrese su correo" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group mb-md-0">
                            <input class="form-control" id="phone" type="tel" placeholder="Su Teléfono *" required="required" data-validation-required-message="Ingrese su telefono" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-textarea mb-md-0">
                            <textarea class="form-control" id="message" placeholder="Su Mensaje *" required="required" data-validation-required-message="Escriba su mensaje"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div id="success"></div>
                    <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Enviar Mensaje</button>
                </div>
            </form>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">Todos los derechos reservados SuadamericaGreen 2020</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
               
            </div>
        </div>
    </footer>
    <!-- Portfolio Modals-->
    <!-- Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Nuestro Kit 1</h2>
                                <p class="item-intro text-muted">Detalles de nuestro Kit 1</p>
                                <img class="img-fluid d-block mx-auto" src="~/img/kit 1.jpg" alt="" />
                                <p>Este kit es para la utilizacion de 2000W, el cual incluye los siguiente productos</p>
                                <ul class="list-inline">
                                    <li>Paneles Solares: 3 Unidades</li>
                                    <li>Regulador Solar: 1 Unidad</li>
                                    <li>Baterías: 2 Unidad</li>
                                    <li>Inversor: 1 Unidad</li>
                                    <li>Lampara: 1 Unidad</li>
                                    <li>Tablero: 1 Unidad</li>
                                    <li>Ganchos: 3 Unidad</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                  Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Cerrar" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Nuestro Kit 2</h2>
                                <p class="item-intro text-muted">Detalles de nuestro Kit 2</p>
                                <img class="img-fluid d-block mx-auto" src="~/img/kit 2.jpg" alt="" />
                                <p>Este kit es para la utilizacion de 3000W, el cual incluye los siguiente productos</p>
                                <ul class="list-inline">
                                    <li>Paneles Solares: 4 Unidades</li>
                                    <li>Regulador Solar: 1 Unidad</li>
                                    <li>Baterías: 3 Unidades</li>
                                    <li>Inversor: 1 Unidad</li>
                                    <li>Lampara: 3 Unidad</li>
                                    <li>Reflector: 1 Unidad</li>
                                    <li>Tablero: 1 Unidad</li>
                                    <li>Ganchos: 4 Unidad</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 3-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Cerrar" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Nuestro Kit 3</h2>
                                <p class="item-intro text-muted">Detalles de nuestro Kit 3</p>
                                <img class="img-fluid d-block mx-auto" src="~/img/kit 2.jpg" alt="" />
                                <p>Este kit es para la utilizacion de 4000W, el cual incluye los siguiente productos</p>
                                <ul class="list-inline">
                                    <li>Paneles Solares: 5 Unidades</li>
                                    <li>Regulador Solar: 1 Unidad</li>
                                    <li>Baterías: 4 Unidades</li>
                                    <li>Inversor: 1 Unidad</li>
                                    <li>Lampara: 4 Unidad</li>
                                    <li>Reflector: 2 Unidad</li>
                                    <li>Tablero: 1 Unidad</li>
                                    <li>Ganchos: 5 Unidad</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 4-->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Cerrar" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Nuestro Kit 4</h2>
                                <p class="item-intro text-muted">Detalles de nuestro Kit 4</p>
                                <img class="img-fluid d-block mx-auto" src="~/img/kit 1.jpg" alt="" />
                                <p>Este kit es para la utilizacion de 5000W, el cual incluye los siguiente productos</p>
                                <ul class="list-inline">
                                    <li>Paneles Solares: 6 Unidades</li>
                                    <li>Regulador Solar: 1 Unidad</li>
                                    <li>Baterías: 5 Unidades</li>
                                    <li>Inversor: 1 Unidad</li>
                                    <li>Lampara: 5 Unidad</li>
                                    <li>Reflector: 2 Unidad</li>
                                    <li>Tablero: 1 Unidad</li>
                                    <li>Ganchos: 6 Unidad</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 5-->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Lamparas Led</h2>
                                <p class="item-intro text-muted">Conoce nuestras lamparas led</p>
                                <div class="row">

                                    <div class="col-lg-4 col-sm-6 mb-4">
                                        <div class="portfolio-item">


                                            <img class="img-fluid" src="~/img/Lampara 1.jpg" alt="" />

                                            <div class="portfolio-caption">
                                                <div class="portfolio-caption-heading">Lampara Led</div>
                                                <div class="portfolio-caption-subheading text-muted">Lámpara Led Osram 9w = 75w Luz Día/fría</div>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="col-lg-4 col-sm-6 mb-4">
                                        <div class="portfolio-item">


                                            <img class="img-fluid" src="~/img/Lampara 1.jpg" alt="" />

                                            <div class="portfolio-caption">
                                                <div class="portfolio-caption-heading">Lampara Led</div>
                                                <div class="portfolio-caption-subheading text-muted">Lámpara Led Osram 12w=90w Luz Día/fría</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6 mb-4">
                                        <div class="portfolio-item">


                                            <img class="img-fluid" src="~/img/Lampara 1.jpg" alt="" />

                                            <div class="portfolio-caption">
                                                <div class="portfolio-caption-heading">Lampara Led</div>
                                                <div class="portfolio-caption-subheading text-muted">Lámpara Led Osram 14w=100w Luz Día/fría</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                  Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 6-->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Accesorios</h2>
                                <p class="item-intro text-muted">Conoce nuestros Accesorios</p>
                                <div class="row">

                                    <div class="col-lg-4 col-sm-6 mb-4">
                                        <div class="portfolio-item">


                                            <img class="img-fluid" src="~/img/regulador.jpg" alt="" />

                                            <div class="portfolio-caption">
                                                <div class="portfolio-caption-heading">Regulador Solar</div>
                                                <div class="portfolio-caption-subheading text-muted">Regulador Solar Mppt Max 15a 12v 24v </div>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="col-lg-4 col-sm-6 mb-4">
                                        <div class="portfolio-item">


                                            <img class="img-fluid" src="~/img/panel.jpg" alt="" />

                                            <div class="portfolio-caption">
                                                <div class="portfolio-caption-heading">Panel Solar</div>
                                                <div class="portfolio-caption-subheading text-muted">Panel Solar 320w 24v Calidad A</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-6 mb-4">
                                        <div class="portfolio-item">


                                            <img class="img-fluid" src="~/img/inversor.jpg" alt="" />

                                            <div class="portfolio-caption">
                                                <div class="portfolio-caption-heading">Inversor</div>
                                                <div class="portfolio-caption-subheading text-muted">Inversor Cargador Solar 3000w 24v 220v Pwm 50a Renogen</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6 mb-4">
                                        <div class="portfolio-item">


                                            <img class="img-fluid" src="~/img/bateria.jpg" alt="" />

                                            <div class="portfolio-caption">
                                                <div class="portfolio-caption-heading">Bateria</div>
                                                <div class="portfolio-caption-subheading text-muted">Bateria Go Solar Ciclo Profundo 12v 120ah </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6 mb-4">
                                        <div class="portfolio-item">


                                            <img class="img-fluid" src="~/img/gancho.jpg" alt="" />

                                            <div class="portfolio-caption">
                                                <div class="portfolio-caption-heading">Soporte Panel Solar</div>
                                                <div class="portfolio-caption-subheading text-muted">Soporte Panel Solar Fiasa® P/techo Tipo Reticulado</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6 mb-4">
                                        <div class="portfolio-item">


                                            <img class="img-fluid" src="~/img/refelctor.jpg" alt="" />

                                            <div class="portfolio-caption">
                                                <div class="portfolio-caption-heading">Reflector Led</div>
                                                <div class="portfolio-caption-subheading text-muted">Reflector Led Exterior 30w Proyector Multiled Alta Potencia Ip65 Apto Intemperie</div>
                                            </div>
                                        </div>
                                    </div>
                                    

                                </div>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                   Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="~/assets/mail/jqBootstrapValidation.js"></script>
    <script src="~/assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
</body>
</html>
