
<!DOCTYPE html>
<html>


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Evaluaciones Tecnicas</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/modern-business.css" rel="stylesheet" />

</head>
<body>




    @RenderBody();

</body>

</html>

<script src="~/Scripts/jquery-3.4.1.slim.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>